*,*::after,*::before{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    background-color: rgb(252, 252, 252);
}
p{
    margin: 0;
}
header{
    margin-bottom: 3rem;
    height: 10rem;
}
hr{
    margin: 0 3rem;
}

.content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
}
.product-container{
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;

}
.sidebar{
    height: fit-content;
    box-shadow: 0 3px 10px rgb(0,0,0,0.1);
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
}

.product-card{
    padding: 1rem;
    position: relative;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    background-color: white;
    border-radius: 5px;
}

.product-card img{
    width: 100%;
}
.countdown{
    display: flex;
    justify-content: space-evenly;
}
.time-left-title{
    font-size: 1.4rem;
    font-weight: 300;
}
.time{
    font-size: 1.8rem;
    font-weight: 400;
}
.time-range{
    font-size: 1.4rem;
    font-weight: 400;
}
.item-title{
    font-size: 1.8rem;
    font-weight: 700;
}
.bid-current{
    font-size: 1.4rem;
    font-weight: 300;
    padding: 1rem;
}
span{
    font-size: 1.4rem;
    font-weight: 700;
}
.discription{
    font-size: 1.6rem;
    font-weight: 300;
}
.card-link{
    position: absolute;
    top: 0rem;
    left: 2rem;
    bottom: 0;
    width: 80%;
}
.add-to-wishlist{
    position:absolute;
    top: 2rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 999rem;
    padding: 1rem;
    border: none;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
}

.time-left{
    margin: 1rem;
    padding: 1rem 0;
    box-shadow: 0 3px 10px rgb(38, 149, 255,0.3);
}
.sidebar-title{
    font-size: 1.75rem;
    font-weight: 700;
    border-left: 2px solid rgb(38, 149, 255);
    text-underline-offset: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
.list *{
    margin: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: white;
    border-color: rgb(38, 149, 255);
    padding: 0.75rem;
    color: rgb(38, 149, 255);
    text-align: center;
    border-radius: 1rem;
    border-style: solid;
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sidebar-element{
    padding-bottom: 1rem;
}
.profileimg{
    clip-path: circle();
}
.sub-menu{
    position: absolute;
    width: 30rem;
    top: 140%;
    left: -16rem;
    background-color: white;
    z-index: 1;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    padding: 0 2rem 0 2rem;
    border-radius: 4px;
    display: none;
}
