<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
<display-name>ibidAuctionPlatform</display-name>
	<context-param>
        <param-name>db.driver</param-name>
        <param-value>org.mariadb.jdbc.Driver</param-value>
	</context-param>
	<context-param>
	        <param-name>db.url</param-name>
	        <param-value>jdbc:mariadb://localhost:3306/auction</param-value>
	</context-param>
	<context-param>
	        <param-name>db.user</param-name>
	        <param-value>samuel</param-value>
	</context-param>
	<context-param>
	        <param-name>db.password</param-name>
	        <param-value>123456789</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>register</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>controller.user.RegisterController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SigninServlet</servlet-name>
		<servlet-class>controller.user.SigninServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserHome</servlet-name>
		<servlet-class>controller.user.UserHome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>items</servlet-name>
		<servlet-class>controller.user.MyItems</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>feedback</servlet-name>
		<servlet-class>controller.user.FeedBack</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>bids</servlet-name>
		<servlet-class>controller.user.Bids</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deals</servlet-name>
		<servlet-class>controller.user.Deals</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controller.user.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserProfileimg</servlet-name>
		<servlet-class>controller.user.UserProfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>notification</servlet-name>
		<servlet-class>controller.user.Notification</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userprofile</servlet-name>
		<servlet-class>controller.user.Profile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>navigate</servlet-name>
		<servlet-class>controller.user.Navigate</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>registerjsp</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
	<servlet>
        <servlet-name>signinjsp</servlet-name>
        <jsp-file>/signin.jsp</jsp-file>
    </servlet>

	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/registeruser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registerjsp</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SigninServlet</servlet-name>
		<url-pattern>/signinuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>signinjsp</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserHome</servlet-name>
		<url-pattern>/myhome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserProfileimg</servlet-name>
		<url-pattern>/profileimg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>items</servlet-name>
		<url-pattern>/myitems</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bids</servlet-name>
		<url-pattern>/mybids</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deals</servlet-name>
		<url-pattern>/mydeals</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>feedback</servlet-name>
		<url-pattern>/myfeedback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userprofile</servlet-name>
		<url-pattern>/myprofile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>notification</servlet-name>
		<url-pattern>/mynotification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>navigate</servlet-name>
		<url-pattern>/nav</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>listusers</servlet-name>
		<servlet-class>controller.admin.Listusers</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>listusers</servlet-name>
		<url-pattern>/listusers</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>changestate</servlet-name>
		<servlet-class>controller.admin.changeuserstate</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>changestate</servlet-name>
		<url-pattern>/changeState</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>listbanned</servlet-name>
		<servlet-class>controller.admin.listbanned</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>listbanned</servlet-name>
		<url-pattern>/listbanned</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>controller.admin.logout</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/adminlogout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>signin</servlet-name>
		<servlet-class>controller.admin.useradminsignin</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>signin</servlet-name>
		<url-pattern>/adminsignin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dashboard</servlet-name>
		<servlet-class>controller.admin.useradmindashboard</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dashboard</servlet-name>
		<url-pattern>/adminDash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>viewuserprofile</servlet-name>
		<servlet-class>controller.admin.userprofile</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>viewuserprofile</servlet-name>
		<url-pattern>/viewProfile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>adminprofile</servlet-name>
		<servlet-class>controller.admin.useradminprofile</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>adminprofile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>searchUser</servlet-name>
		<servlet-class>controller.admin.SearchUsers</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>searchUser</servlet-name>
		<url-pattern>/SearchUser</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ListItems</servlet-name>
		<servlet-class>controller.admin.ListItems</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListItems</servlet-name>
		<url-pattern>/ListItems</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ListPending</servlet-name>
		<servlet-class>controller.admin.ListPending</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListPending</servlet-name>
		<url-pattern>/ListPending</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>viewItemProfile</servlet-name>
		<servlet-class>controller.admin.viewItemProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewItemProfile</servlet-name>
		<url-pattern>/viewItemProfile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>changeItemstate</servlet-name>
		<servlet-class>controller.admin.changeItemstate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changeItemstate</servlet-name>
		<url-pattern>/changeItemState</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>viewItemadmindash</servlet-name>
		<servlet-class>controller.admin.ItemadminDash</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewItemadmindash</servlet-name>
		<url-pattern>/ItemadminDash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>changeAdminPicture</servlet-name>
		<servlet-class>controller.admin.changeAdminPicture</servlet-class>
		<multipart-config>
			<location>/home/samuel/Desktop/Ibid-Online-Auction-Platform/src/main/webapp/images/adminimage</location>
			<max-file-size>20848820</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>changeAdminPicture</servlet-name>
		<url-pattern>/changeAdminPicture</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditAdminProfile</servlet-name>
		<servlet-class>controller.admin.EditAdminProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditAdminProfile</servlet-name>
		<url-pattern>/EditAdminProfile</url-pattern>
	</servlet-mapping>
	</web-app>


