
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ibidAuctionPlatform</display-name>
	<context-param>
        <param-name>db.driver</param-name>
        <param-value>org.mariadb.jdbc.Driver</param-value>
	</context-param>
	<context-param>
	        <param-name>db.url</param-name>
	        <param-value>jdbc:mariadb://localhost:3306/auction</param-value>
	</context-param>
	<context-param>
	        <param-name>db.user</param-name>
	        <param-value>firomsa</param-value>
	</context-param>
	<context-param>
	        <param-name>db.password</param-name>
	        <param-value>12345</param-value>
	</context-param>
	<servlet>
		<description>
		</description>
		<display-name>RegisterController</display-name>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>controller.RegisterController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SigninServlet</display-name>
		<servlet-name>SigninServlet</servlet-name>
		<servlet-class>controller.SigninServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserHome</display-name>
		<servlet-name>UserHome</servlet-name>
		<servlet-class>controller.UserHome</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controller.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserProfile</display-name>
		<servlet-name>UserProfile</servlet-name>
		<servlet-class>controller.UserProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SigninServlet</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserHome</servlet-name>
		<url-pattern>/myhome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserProfile</servlet-name>
		<url-pattern>/profileimg</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>register.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
